.chores {
    position: relative;
    background-color: #feff9c;
    border-radius: 5px;
    padding: 35px;
    margin: 25px 50px;
    /* flex: 1 1 25%; */
    box-shadow: 5px 5px #fff740, 10px 10px 10px #ddd;
    transition-duration: 150ms;
    height: 250px;
    width: 250px;
}

.chores > p {
    padding: 10px;
    flex: 1 1 25%;
    font-size: 1.3rem;
    margin-top: 0;
}
.chores > button {
    border-radius: 8px;
    border: none;
    background-color: #ffdf40;
    padding: 10px;
    transition-duration: 150ms;
}
.chores > button:hover {
    background-color: #ffea9c;
}
.chores > h2 {
    transition-duration: 350ms;
    margin-bottom: 0;
}
.chores:hover {
    transform: scale(1.025);
}

.chores:hover > h2 {
    transform: scale(1.1);
}

.chores-small-title > h2 {
    font-size: 1rem;
}

#mark-complete {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;

  }

  #mark-complete img {
    width: auto;
    height: auto;
    transform: scale(.2);
    transform-origin: center;

  }

  #mark-incomplete {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
  }