.chores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    background-color: #feff9c;
    border-radius: 5px;
    padding: 35px;
    margin: 25px 50px;
    /* flex: 1 1 25%; */
    box-shadow: 5px 5px #fff740, 10px 10px 10px #ddd;
    transition-duration: 150ms;
    height: 250px;
    width: 250px;
}

.chores > p {
    padding: 10px;
    flex: 1 1 25%;
    font-size: 1.3rem;
    margin-top: 0;
}
.chores button {
    border-radius: 8px;
    border: none;
    background-color: #ffdf40;
    padding: 10px;
    transition-duration: 150ms;
}
 
.chores > button:hover {
    background-color: #ffea9c;
}

/* .chores > h2 {
    transition-duration: 350ms;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

.chores:hover {
    transform: scale(1.025);
}

/* .chores:hover > h2 {
    transform: scale(1.1);
} */

/* .chores-small-title > h2 {
    font-size: 1rem;
} */

.chores h3 {
    margin: 8px;
}

.chore-details {
    padding: 10px;
}

.chore-details p {
    font-size: .85rem;
    margin: 2px;
}

* p {
    margin-bottom: 1px;
}

.btns {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end; 
    margin-top: 20px; 
    scale: 1.25;
}

.chores.completed {
    opacity: 0.5; 
    pointer-events: none; 
}