.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 85%;
    overflow-y: hidden;
    transform: translate(-50%, -50%);
    background-color: #3498DB;
    padding: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
}