@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

.side-bar {
    position: sticky;
    top: 0;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 20%;
    background-color: #3498db;
    box-shadow: 6px 0px #2980b9;
    align-content: center;
    border-radius: 0 25px 25px 0;
    padding: 0 25px 0 25px;
    color: #ecf0f1;
}

.side-bar > h1 {
    font-family: "Inspiration", cursive;
    font-weight: 400;;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: -25px;
    font-size: 3.5rem;
}